/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/* COMBO_TERM → timeout-ms
 * Max delay for all combo keys to be pressed after the first one. Lower = stricter
 * simultaneous press; higher = easier to hit but more accidental triggers.
 */
#define COMBO_TERM 30

/* COMBO_IDLE → require-prior-idle-ms
 * Min idle time since the last key release before a combo may fire. Prevents false
 * triggers while rolling through keys during fast typing (accents, @, Cmd+X/C/V).
 */
#define COMBO_IDLE 150

#include "keymap_french.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        a_grave_morph: a_grave_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FR_A_GRAVE>, <&kp LS(FR_A_GRAVE)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        e_acute_morph: e_acute_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FR_E_ACUTE>, <&kp LS(FR_E_ACUTE)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        e_grave_morph: e_grave_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FR_E_GRAVE>, <&kp LS(FR_E_GRAVE)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        c_cedilla_morph: c_cedilla_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FR_C_CEDILLA>, <&kp LS(FR_C_CEDILLA)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_grave_morph: u_grave_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FR_U_GRAVE>, <&kp LS(FR_U_GRAVE)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        at_symbol {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&kp FR_AT>;
            key-positions = <18 30>;
            layers = <0>;
        };

        e_high_accent {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&e_acute_morph>;
            key-positions = <15 16>;
            layers = <0>;
        };

        e_grave_accent {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&e_grave_morph>;
            key-positions = <3 16>;
            layers = <0>;
        };

        a_grave_accent {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&a_grave_morph>;
            key-positions = <1 2>;
        };

        c_cedilla {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&c_cedilla_morph>;
            key-positions = <27 15>;
        };

        u_grave_accent {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&u_grave_morph>;
            key-positions = <7 20>;
        };

        dash {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&kp FR_MINUS>;
            key-positions = <30 31>;
        };

        cut {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&kp LG(X)>;
            key-positions = <26 27>;
        };

        copy {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&kp LG(C)>;
            key-positions = <27 28>;
        };

        paste {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&kp LG(V)>;
            key-positions = <28 29>;
        };

        cmd_w {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <COMBO_IDLE>;
            bindings = <&kp LG(W)>;
            key-positions = <16 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0
        default_layer {
            display-name = "Base";
            bindings = <
&mt LS(TAB) TAB   &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y                 &kp U      &kp I      &kp O    &kp P     &kp BACKSPACE
&mo 2             &kp A  &kp S  &kp D     &kp F  &kp G        &kp H                 &kp J      &kp K      &kp L    &kp SEMI  &mo 3
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N                 &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                                &kp LGUI  &mo 1  &kp SPACE    &mt LC(LG(LALT)) RET  &kp LSHFT  &kp RALT
            >;
        };

        // 1
        lower_layer {
            display-name = "Lower";
            bindings = <
&kp F1       &kp F2     &kp F3        &kp F4        &kp F5       &kp F6         &kp F7       &kp F8          &kp F9          &kp F10          &kp F11    &kp F12
&kp FR_HASH  &none      &kp FR_CARET  &kp FR_GRAVE  &kp FR_DQT   &kp FR_APOS    &kp FR_EXCL  &kp HOME        &kp UP_ARROW    &kp END          &kp PG_UP  &none
&kp FR_LT    &kp FR_GT  &kp FR_LBRC   &kp FR_RBRC   &kp FR_LPAR  &kp FR_RPAR    &kp FR_PIPE  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PG_DN  &trans
                                      &trans        &trans       &trans         &trans       &trans          &trans
            >;
        };

        // 2
        num_layer {
            display-name = "Num";
            bindings = <
&none   &none  &kp FR_MICRO  &kp FR_EURO  &kp FR_POUND_SIGN  &kp FR_DLLR    &kp FR_STAR  &kp FR_N7  &kp FR_N8  &kp FR_N9  &none  &none
&none   &none  &none         &none        &kp FR_PERCENT     &kp FR_AMPS    &kp FR_PLUS  &kp FR_N4  &kp FR_N5  &kp FR_N6  &none  &none
&trans  &none  &none         &none        &none              &kp FR_DEG     &kp FR_N0    &kp FR_N1  &kp FR_N2  &kp FR_N3  &none  &none
                             &trans       &trans             &trans         &trans       &trans     &trans
            >;
        };

        // 3
        media_layer {
            display-name = "Media";
            bindings = <
&bt BT_CLR  &none       &none       &none   &none   &none     &none              &none            &none       &none  &none  &none
&none       &bt BT_PRV  &bt BT_NXT  &none   &none   &none     &kp C_PLAY_PAUSE   &kp C_PREVIOUS   &kp C_NEXT  &none  &none  &none
&none       &none       &none       &none   &none   &none     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE  &none  &none  &none
                                    &trans  &trans  &trans    &trans             &trans           &trans
            >;
        };
    };
};
